<%- include('./partials/head') %>

<main>
    <div class="content_wrapper">
        <%- include('./partials/sideNav') %>

        <div class="main_content_wrapper">
            <div class="main_content">
            
                <!-- create propety section  -->
                <section class="form_section">
                    <h3>Change password</h3>
                    <div class="form_wrapper">
                        <div class="form_container">
                            <form class="change_password_form" enctype="multipart/form-data">
                                <div class="input_group">
                                    <label for="pwd">Old password</label>
                                    <input id="pwd" type="password" name="password" required>
                                </div>

                                <div class="input_group">
                                    <label for="pwd1">password</label>
                                    <input id="pwd1" type="password" name="password1" required>
                                </div>

                                <div class="input_group">
                                    <label for="pwd2">Confirm password</label>
                                    <input id="pwd2" type="password" name="password2" required>
                                </div>

                                <div class="input_group">
                                    <button class="btn password_btn">Change password</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

<script type="module">
    import {notification, showSpinner, hideSpinner, closeNotification} from '/main/js/notification.js';
    toastBtn.addEventListener('click', () => closeNotification(toast));

   const passwordForm = document.querySelector('.change_password_form');
   const passwordBtn = document.querySelector('.password_btn');

   const changeAdminPassword = async (e) => {
        e.preventDefault();

        showSpinner (passwordBtn)
        const formData = {
            oldpassword: passwordForm.password.value,
            password1: passwordForm.password1.value,
            password2: passwordForm.password2.value,
        }

        try {
            const response = await fetch('/auth/admin/change-password', {
                method: "POST",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify(formData)
            })

            if(!response.ok) {
                throw new Error("oops!, something went wrong")
            }

            const json = await response.json();

            if(json.error) {
                throw new Error(json.error)
            }

            if(json.success) {
                hideSpinner(passwordBtn, "Change password")
                notification.success(json.message, toast, toastIcon, toastMessage, closeNotification);
            }
            
        } catch (error) {
            hideSpinner(passwordBtn, "Change password")
            notification.error(error.message, toast, toastIcon, toastMessage, closeNotification);
        }

   }
   passwordForm.addEventListener('submit', changeAdminPassword);
</script>
    
<%- include('./partials/footer')  %>