<%- include('./partials/head') %>

<main>
    <div class="content_wrapper">
        <%- include('./partials/sideNav') %>

        <div class="main_content_wrapper">
            <div class="main_content">
            
                <!-- create propety section  -->
                <section class="form_section">
                    <h2>Update checkins</h2>
                    <div class="form_wrapper">
                        <div class="form_container">
                            <form class="checkin_form" enctype="multipart/form-data">
                                <div class="input_group">
                                    <label for="checkins">select the checkins</label>
                                    <select name="checkins" id="checkins" required>
                                         <option selected disabled>Select checkins</option>
                                        <option value="old checkins">Old Checkins</option>
                                         <option value="new checkins">New Checkins</option>
                                    </select>
                                </div>

                                <div class="input_group">
                                    <label for="name">Name of property</label>
                                    <input id="name" type="text" name="name" required>
                                </div>

                                <div class="input_group">
                                    <label for="location">Property location</label>
                                    <input id="location" type="text" name="location" required>
                                </div>

                                <div class="input_group">
                                    <label for="city">Property city</label>
                                    <input id="city" type="text" name="city" required>
                                </div>

                                <div class="input_group">
                                    <label for="amount">Property amount</label>
                                    <input id="amount" type="text" name="amount" required>
                                </div>

                                <div class="input_group">
                                    <label for="date">Checkin date</label>
                                    <input id="date" type="text" name="date" placeholder="Jun. 17, 2023" required>
                                </div>

                                <div class="input_group">
                                    <label for="status">Checkin status</label>
                                    <select name="status" id="status" required>
                                         <option selected disabled>Select status</option>
                                        <option value="active">active</option>
                                         <option value="setttled">setttled</option>
                                    </select>
                                </div>

                                <div class="input_group">
                                    <button class="btn checkin_btn">Update Checkins</button>
                                </div>

                                <p class="message"></p>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

<script>
    const checkinForm = document.querySelector('.checkin_form');
    const checkinBtn = document.querySelector('.checkin_btn');
    const message = document.querySelector('.message');

   async function updateCheckinDetails(e) {
        e.preventDefault();

        message.textContent = '';
        message.className = 'message';
        checkinBtn.textContent = 'Updaing checkins please wait...';

        try {
            let formData = {
                name: checkinForm.name.value,
                checkins: checkinForm.checkins.value,
                location: checkinForm.location.value,
                city: checkinForm.city.value,
                amount: checkinForm.amount.value,
                date: checkinForm.date.value,
                status: checkinForm.status.value,
            }

            const response = await fetch('/auth/admin/checkins', {
                method: 'POST',
                headers: {'Content-Type' : 'application/json'},
                body: JSON.stringify(formData)
            })

            if(!response.ok) {
                throw new Error('something went wrong, please try again')
            }

            const json = await response.json();

            if(json.error) {
                throw new Error(json.error)
            }

            if(json.success) {
                message.classList.add('success');
                message.textContent = json.message
                checkinBtn.textContent = "Updated checkins";
                checkinForm.reset();
            }
            
        } catch (error) {
            message.classList.add('error');
            message.textContent = error.message;
            checkinBtn.textContent = 'Update checkins'
        }
    }

    checkinForm.addEventListener('submit', updateCheckinDetails);
</script>

    
