<%- include('./partials/head') %>

<main>
    <div class="content_wrapper">
        <%- include('./partials/sideNav') %>

        <div class="main_content_wrapper">
            <div class="main_content">
                <section class="overview">
                    <div class="total_property">

                    </div>

                    <div class="total_testimony">

                    </div>
                </section>

                <!-- display all property section  -->
                <section>
                    
                </section>
            </div>
        </div>

    </div>
</main>
    
<%- include('./partials/footer')  %>