
<style>

    footer {
        /* position: relative;
        bottom: 0; */
        width: 100%;
        padding: 20px;
        background: #fff;
        /* box-shadow: 1px 2px 8px #efefef; */
        /* z-index: 999999; */
    }

</style>


<footer aria-labelledby="footerHeading" class="_1boqbzp">
    <div class="footer_wrapper">
        <div class="privacy_container">
            <ul class="">
                <li>&copy 2023 Hostslet, inc </li> 
                <li><a href="">Terms</a></li>  
                <li><a href="">Privacy</a></li> 
            </ul>
        </div>
    </div>
</footer>        

<!-- slick javascript  -->

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- slick carousel controller, this controlls all the carousel in different pages -->
    <script>
        $(document).ready(function() {
        $('.room-slides').each(function(index) {
            var carouselContainer = $(this);
            var carouselDotContainer = $('.custom-dots-container')

            var prevArrow = $('.prev-arrow').eq(index);
            var nextArrow = $('.next-arrow').eq(index);

            carouselContainer.slick({
                speed: 300,
                prevArrow: prevArrow,
                nextArrow: nextArrow,
            });
        });
    });
    </script>

    <script src="/main/js/main.js"></script>
</body>
</html>