<footer aria-labelledby="footerHeading" class="_1boqbzp">
</footer>
        

<!-- slick javascript  -->

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- <script>
        $(document).ready(function(){
            $('.room-slides').each(function() {
                $(this).slick({
                speed: 300,
                autoplay: true,
                prevArrow: $('.prev-arrow').each(function() {
                    return $(this)
                }),
                nextArrow: $('.next-arrow')
                });
            })
        });
    </script> -->

    <script>

        $(document).ready(function(){
            const roomSlides = $('.room-slides')

            for(let i = 0; i < roomSlides.length; i++) {
                 var carousel = roomSlides[i];
                 console.log

                 carousel.slick({
                    speed: 300,
                    prevArrow: $('.prev-arrow'),
                    nextArrow: $('.next-arrow')
                });
            }
        });

    </script>
    </script>
    
</body>
</html>