<html>
    <head>
    <meta charset="utf-8">
    <meta name="locale" content="en">
    <meta id="english-canonical-url" content="">
    <meta name="application-name" content="Hostslet">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-starturl" content="/?utm_source=homescreen">
    <meta property="og:site_name" content="Hostslet">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <title>Vacation Homes | <%= title %></title>
    <meta property="og:description" content="Minoas Sea Villa Heated Pool">

    <!-- main styles -->
    <link rel="stylesheet" href="/main/css/styles.css">

    <!-- fontawesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <!-- favicon  -->
    <link rel="icon" type="image/png" href="/main/images/logo.png">
</head>

<style>
    main {
        margin-top: 70px;
    }
</style>