<div class="rivl72l dir dir-ltr">
  <div class="_1o0oxddr">
    <div class="_mk7bo2">
      <div class="c1yo0219 dir dir-ltr">
        <div data-plugin-in-point-id="CATEGORY_FILTER_BAR" data-section-id="CATEGORY_FILTER_BAR" style="display: contents;">
          <div class="w17rkehr dir dir-ltr">
            <div class="c1yfmptw clu53zf dir dir-ltr">
              <div class="e13keydh e1gc5f0n dir dir-ltr">
                <div class="s1in1q3d dir dir-ltr">
                  <div class=" dir dir-ltr" role="radiogroup" id="categoryScroller" aria-label="Airbnb Categories">
                    <div class="cbdpsi8 dir dir-ltr" style="--reveal-duration: 250ms; --shimmer-duration: 750ms; --reveal-delay: 250ms; --shimmer-scale-x: 1;">
                      <div>
                        <div aria-describedby="category-bar-description" class="cr4ekrk rd7fm2t dir dir-ltr" role="group">
                          <div class="s1yvqyx7 dir dir-ltr">
                            <div class=" dir dir-ltr">
                              <div class="awuxh4x dir dir-ltr">
                                <div class="cw9aemg dir dir-ltr">
                                  <div class="dir dir-ltr" style="text-align: center;">
                                    <label aria-hidden="false" class="ccma3s cecxnfe dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h6yk088 dir dir-ltr" checked="">
                                      <div class="c1m2z0bj dir dir-ltr">
                                        <span class="c1w8ohg7 dir dir-ltr">
                                          <img class="iamhn2w dir dir-ltr" src="https://a0.muscache.com/pictures/c5a4f6fc-c92c-4ae8-87dd-57f1ff1b89a6.jpg" alt="" width="24" height="24">
                                          <div class="t1h65ots dir dir-ltr">
                                            <span class="t1trgdqu dir dir-ltr">OMG!</span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                    <label aria-hidden="true" tabindex="-1" class="ccma3s dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h6yk088 dir dir-ltr">
                                      <div class="c1m2z0bj dir dir-ltr">
                                        <span class="c1w8ohg7 dir dir-ltr">
                                          <img class="iamhn2w dir dir-ltr" src="https://a0.muscache.com/pictures/78ba8486-6ba6-4a43-a56d-f556189193da.jpg" alt="" width="24" height="24">
                                          <div class="t1h65ots dir dir-ltr">
                                            <span class="t1trgdqu dir dir-ltr">Mansions</span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                    <label aria-hidden="true" tabindex="-1" class="ccma3s dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h6yk088 dir dir-ltr">
                                      <div class="c1m2z0bj dir dir-ltr">
                                        <span class="c1w8ohg7 dir dir-ltr">
                                          <img class="iamhn2w dir dir-ltr" src="https://a0.muscache.com/pictures/c8e2ed05-c666-47b6-99fc-4cb6edcde6b4.jpg" alt="" width="24" height="24">
                                          <div class="t1h65ots dir dir-ltr">
                                            <span class="t1trgdqu dir dir-ltr">Luxe</span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                    <label aria-hidden="true" tabindex="-1" class="ccma3s dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h6yk088 dir dir-ltr">
                                      <div class="c1m2z0bj dir dir-ltr">
                                        <span class="c1w8ohg7 dir dir-ltr">
                                          <img class="iamhn2w dir dir-ltr" src="https://a0.muscache.com/pictures/8e507f16-4943-4be9-b707-59bd38d56309.jpg" alt="" width="24" height="24">
                                          <div class="t1h65ots dir dir-ltr">
                                            <span class="t1trgdqu dir dir-ltr">Islands</span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                    <label aria-hidden="true" tabindex="-1" class="ccma3s dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h6yk088 dir dir-ltr">
                                      <div class="c1m2z0bj dir dir-ltr">
                                        <span class="c1w8ohg7 dir dir-ltr">
                                          <img class="iamhn2w dir dir-ltr" src="https://a0.muscache.com/pictures/ed8b9e47-609b-44c2-9768-33e6a22eccb2.jpg" alt="" width="24" height="24">
                                          <div class="t1h65ots dir dir-ltr">
                                            <span class="t1trgdqu dir dir-ltr">Iconic cities</span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                    <label aria-hidden="true" tabindex="-1" class="ccma3s dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h6yk088 dir dir-ltr">
                                      <div class="c1m2z0bj dir dir-ltr">
                                        <span class="c1w8ohg7 dir dir-ltr">
                                          <img class="iamhn2w dir dir-ltr" src="https://a0.muscache.com/pictures/ee9e2a40-ffac-4db9-9080-b351efc3cfc4.jpg" alt="" width="24" height="24">
                                          <div class="t1h65ots dir dir-ltr">
                                            <span class="t1trgdqu dir dir-ltr">Tropical</span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="f14wfpb5 dir dir-ltr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>