<div class="mobile_nav_links">
    <ul>
    <li>
        <a href="" class="link">
        <img class="iamhn2w dir dir-ltr" src="/main/images/omg.jpeg" alt="omg" width="24" height="24">
        <div class="t1h65ots dir dir-ltr">
            <span class="t1trgdqu dir dir-ltr">OMG!</span>
        </div>
        </a>
    </li>

    <li>
        <a href="" class="link">
        <img class="iamhn2w dir dir-ltr" src="/main/images/mansion.jpeg" alt="mansions" width="24" height="24">
        <div class="t1h65ots dir dir-ltr">
            <span class="t1trgdqu dir dir-ltr">Mansions</span>
        </div>
        </a>
    </li>

    <li>
        <a href="" class="link">
        <img class="iamhn2w dir dir-ltr" src="/main/images/luxe.jpeg" alt="luxe" width="24" height="24">
        <div class="t1h65ots dir dir-ltr">
            <span class="t1trgdqu dir dir-ltr">Luxe</span>
        </div>
        </a>
    </li>

    <li>
        <a href="" class="link">
        <img class="iamhn2w dir dir-ltr" src="/main/images/island.jpeg" alt="island" width="24" height="24">
        <div class="t1h65ots dir dir-ltr">
            <span class="t1trgdqu dir dir-ltr">Islands</span>
        </div>
        </a>
    </li>

    <li>
        <a href="" class="link">
        <img class="iamhn2w dir dir-ltr" src="/main/images/iconic.jpeg" alt="iconic" width="24" height="24">
        <div class="t1h65ots dir dir-ltr">
            <span class="t1trgdqu dir dir-ltr">Iconic</span>
        </div>
        </a>
    </li>

    <li>
        <a href="" class="link">
        <img class="iamhn2w dir dir-ltr" src="/main/images/tropical.jpeg" alt="tropical" width="24" height="24">
        <div class="t1h65ots dir dir-ltr">
            <span class="t1trgdqu dir dir-ltr">Tropical</span>
        </div>
        </a>
    </li>
    </ul>
</div>