<%- include('./partials/head') %>


<body class="with-new-header">
    <%- include('./partials/header') %>
    <main>
        <div class="mobile_nav_wrapper">
            <%- include('./partials/mobileTopNav')  %>
        </div>
        <div class="" style="max-width: 900px; margin: auto;">

            <style>
                p {
                    margin: 10px 0;
                }
            </style>

            <h2>Host Terms</h2>
            <h3>1. Hosting on Hostslet.</h3>

            <p>1.1 Host. As a Host, Hostslet offers you the right to use the Hostslet Platform to share your Accommodation, Experience, or other Host Service with our vibrant community of Guests - and earn money doing it. It’s easy to create a Listing and you are in control of how you host - set your price, availability, and rules for each Listing.</p>

            <p>1.2 Contracting with Guests. When you accept a booking request, or receive a booking confirmation through the Hostslet Platform, you are entering into a contract directly with the Guest, and are responsible for delivering your Host Service under the terms and at the price specified in your Listing. You are also agreeing to pay applicable fees like Hostslet’s service fee (and applicable taxes) for each booking. Hostslet Payments will deduct amounts you owe from your payout unless we and you agree to a different method. Any terms, policies or conditions that you include in any supplemental contract with Guests must: (i) be consistent with these Terms, our Additional Legal Terms, Policies, and the information provided in your Listing, and (ii) be prominently disclosed in your Listing description.</p>

            <p>1.3 Independence of Hosts. Your relationship with Hostslet is that of an independent individual or entity and not an employee, agent, joint venturer, or partner of Hostslet, except that Hostslet Payments acts as a payment collection agent as described in the Payments Terms. Hostslet does not direct or control your Host Service, and you agree that you have complete discretion whether and when to provide Host Services, and at what price and on what terms to offer them.</p>

            <h3>2. Managing Your Listing.</h3>

            <p>
                2.1 Creating and Managing Your Listing. The Hostslet Platform provides tools that make it easy for you to set up and manage a Listing. Your Listing must include complete and accurate information about your Host Service, your price, other charges like cleaning fees, resort fees, offline fees, and any rules or requirements that apply to your Guests or Listing. You are responsible for keeping your Listing information (including calendar availability) and content (like photos) up-to-date and accurate at all times. We recommend that you obtain appropriate insurance for your Host Services and suggest you carefully review policy terms and conditions including coverage details and exclusions. You may only maintain one Listing per Accommodation, but may have multiple Listings for a single property if it has multiple places to stay. Any offer of an Experience is subject to our Additional Terms for Experience Hosts.
            </p>

            <p>
                2.2 Know Your Legal Obligations. You are responsible for understanding and complying with any laws, rules, regulations, and contracts with third parties that apply to your Listing or Host Services. For example: Some landlords and leases, or homeowner and condominium association rules, restrict or prohibit subletting, short-term rentals and/or longer-term stays. Some cities have zoning or other laws that restrict the short-term rental of residential properties. Some jurisdictions require Hosts to register, get a permit, or obtain a license before providing certain Host Services (such as short-term rentals, longer-term stays, preparing food, serving alcohol for sale, guiding tours, or operating a vehicle). In some places, the Host Services you want to offer may be prohibited altogether. Some jurisdictions require that you register Guests who stay at your Accommodation. Some jurisdictions have laws that create tenancy rights for Guests and additional obligations for Hosts. For example, some places have landlord-tenant, rent control, and eviction laws that may apply to longer stays. Check your local rules to learn what rules apply to the Host Services you plan to offer. Information we provide regarding legal requirements is for informational purposes only and you should independently confirm your obligations. You are responsible for handling and using personal data of Guests and others in compliance with applicable privacy laws and these Terms, including our Host Privacy Standards. If you have questions about how local laws apply you should always seek legal advice.
            </p>

            <p>
                2.3 Search Ranking. The ranking of Listings in search results on the Hostslet Platform depends on a variety of factors, including these main parameters:</p>

            <ul>
                <li>Guest search parameters (e.g. number of Guests, time and duration of the trip, price range),</li>
                <li>Listing characteristics (e.g. price, calendar availability, number and quality of images, Reviews, type of Host Service, Host status, age of the Listing, average Guest popularity),</li>
                <li>Guest booking experience (e.g. customer service and cancellation history of the Host, ease of booking),</li>
                <li>Host requirements (e.g. minimum or maximum nights, booking cut-off time), and
            Guest preferences (e.g. previous trips, saved Listings, location from where the Guest is searching).</li>
            </ul>

            <p>Search results may appear different on our mobile application than they appear on our website. Hostslet may allow Hosts to promote their Listings in search or elsewhere on the Hostslet Platform by paying an additional fee. More information about the factors that determine how your Listing appears in search results, our current promotional programs (if any), and how we identify promoted Content can be found in our Help Center.</p>

            <p>
                2.4 Your Responsibilities. You are responsible and liable for your own acts and omissions and are also responsible for the acts and omissions of anyone you allow to participate in providing your Host Services. You are responsible for setting your price and establishing rules and requirements for your Listing. You must describe any and all fees and charges in your Listing description and may not collect any additional fees or charges outside the Hostslet Platform except those expressly authorized by our Offline Fee Policy. Do not encourage Guests to create third-party accounts, submit reviews, provide their contact information, or take other actions outside the Hostslet Platform in violation of our Off-Platform Policy.
            </p>

            <p>
                2.5 Hosting as a Team or Organization. If you work with a co-host or host as part of a team, business, or other organization, the entity and each individual who participates in providing Host Services is responsible and liable as a Host under these Terms. If you accept terms or enter into contracts, you represent and warrant that you are authorized to enter into contracts for and bind your team, business or other organization, and that each entity you use is in good standing under the laws of the place where it is established. If you perform other functions, you represent and warrant that you are authorized to perform those functions. If you instruct Hostslet to transfer a portion of your payout to a co-host or other Hosts, or to send payments to someone else, you must be authorized to do so, and are responsible and liable for the payment amounts and accuracy of any payout information you provide.
            </p>

            <p>
                2.6 Your Assumption of Risk. You acknowledge that hosting carries inherent risks and agree that you assume the entire risk arising out of your access to and use of the Hostslet Platform, offering Host Services, or any interaction you have with other Members whether in person or online. You agree that you have had the opportunity to investigate the Hostslet Platform and any laws, rules, regulations, or obligations that may be applicable to your Listings or Host Services and that you are not relying upon any statement of law made by Hostslet.
            </p>
            
        </div>
    </main>

    



    
 <%- include('./partials/footer') %> 