<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>Checkin History</h3>
        </div>


        <div class="trips_table_container checkins_table_container">
             <h4 class="checkins_title">Old Checkins</h4>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name of Property</th>
                        <th>Location</th>
                        <th>City</th>
                        <th>Amount</th>
                        <th>Checkin Date</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Edffrerrsffdt</td>
                        <td>$7,500</td>
                        <td>Bicoin</td>
                        <td>Deposit</td>
                        <td>Completed</td>
                        <td>12/06/2023 13:24:01</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="trips_table_container">
            <h4 class="checkins_title">New Checkins</h4>
            <table id="checkins" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name of Property</th>
                        <th>Location</th>
                        <th>City</th>
                        <th>Amount</th>
                        <th>Checkin Date</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Edffrerrsffdt</td>
                        <td>$7,500</td>
                        <td>Bicoin</td>
                        <td>Deposit</td>
                        <td>Completed</td>
                        <td>12/06/2023 13:24:01</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

    <script>
        new DataTable('#example');
         new DataTable('#checkins');
    </script>
</body>
</html>