<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>Contact Us</h3>
        </div>

        <div class="profile legal_name">
            <div class="detail">
                <h4 class="title">Email</h4>
                <p>support@hostslet.com</p>
            </div>
            <div class="edit">
                <p class="password_change"><i class="fa-solid fa-envelope"></i></p>
            </div>
        </div>

        <div class="profile legal_name">
            <div class="detail">
                <h4 class="title">Phone</h4>
                <p>+1 (847) 234-5467</p>
            </div>
            <div class="edit">
                <p class="password_change"><i class="fa-solid fa-phone"></i></p>
            </div>
        </div>

    </main>

</body>
</html>