<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>You're just 3 steps away from your next gateway</h3>
        </div>

        <div class="profile legal_name">
            <div class="detail">
                <h4 class="title">1. Browse</h4>
                <p>Start by exploring Stays or Experiences. Apply filters like entire homes, self check-in, or pets allowed to narrow your options. You can also save favorites to a wishlist.</p>
            </div>
        </div>

        <div class="profile legal_name">
            <div class="detail">
                <h4 class="title">2. Book</h4>
                <p>Once you’ve found what you’re looking for, learn about your host, read past guest reviews, and get the details on cancellation options—then book in just a few clicks.</p>
            </div>
        </div>

        <div class="profile legal_name">
            <div class="detail">
                <h4 class="title">2. Go</h4>
                <p>You’re all set! Connect with your host through the app for local tips, questions or advice. You can also contact Airbnb anytime for additional support.</p>
            </div>
        </div>

        <div class="benefits">
            <h2 class="benefit_title">Wherever you go, we’re here to help</h2>
            <div class="benefit_wrapper">
                <div class="benefit_content">
                    <div class="icon">
                        <img src="/user/images/health.jpeg" alt="">
                    </div>
                    <div class="benefit_detail">
                        <h2 class="detail_title">Health and safety is a priority</h2>
                        <p class="actual_detail">
                            Hosts are committing to enhanced COVID-19 cleaning protocols, and listings are rated for cleanliness.
                        </p>
                    </div>
                </div>

                <div class="benefit_content">
                    <div class="icon">
                        <img src="/user/images/cancellation.jpeg" alt="">
                    </div>
                    <div class="benefit_detail">
                        <h2 class="detail_title">More cancellation options</h2>
                        <p class="actual_detail">
                            Hosts can offer a range of flexible cancellation options which are clearly stated at booking.
                        </p>
                    </div>
                </div>

                <div class="benefit_content">
                    <div class="icon">
                        <img src="/user/images/support.jpeg" alt="">
                    </div>
                    <div class="benefit_detail">
                        <h2 class="detail_title">Support anytime, day or night</h2>
                        <p class="actual_detail">
                            With 24/7 global customer support, we’re there for you whenever you need assistance.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>
</html>