<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>Withdraw</h3>
            <%  if(!user.host) { %>
                <%- include('./partials/alert') %>
            <% } %>
        </div>

        <% if(user.host) { %>

        <div class="upload_section">
            <div class="payment_form_wrapper">
                <form class="withdrawal_form" enctype="multipart/form-data">
                    <div class="input_group">
                        <label for="balance">Net balance</label>
                        <p>$<%= user.netBalance.toLocaleString() %></p>
                    </div>

                    <div class="input_group">
                        <label for="amount">Withdrawal amount</label>
                        <input id="amount" type="number" name="amount" required>
                    </div>

                    <div class="input_group">
                        <label for="earning">Earning</label>
                        <select name="earning" class="" required>
                            <option selected disabled>Earning to withdraw</option>
                            <option value="profit">Profit</option>
                            <option value="bonus">Bonus</option>
                        </select>
                    </div>

                    <div class="input_group">
                        <label for="method">Withdrawal Method</label>
                        <select name="method" class="payment_method" required>
                            <option selected disabled>select Widthdrawal method</option>
                            <option value="bitcoin">Bitcoin</option>
                            <option value="etherum">Etherum</option>
                        </select>
                    </div>

                    <div class="input_group">
                        <label for="address">Wallet Address</label>
                        <input id="address" type="text" name="address" placeholder="Enter your wallet address" required>
                    </div>

                    <button class="btn widthdraw_btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <% } %>

    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

    <script>
        new DataTable('#payment');
    </script>

<script type="module">
    import {notification, showSpinner, hideSpinner, closeNotification} from '/main/js/notification.js';
    toastBtn.addEventListener('click', () => closeNotification(toast));

    const withdrawalForm = document.querySelector('.withdrawal_form');
    const withdrawalBtn = document.querySelector('.widthdraw_btn');

    const handleWithdrawal = async (e) => {
        e.preventDefault();

        showSpinner(withdrawalBtn)

        const formData = {
            amount: withdrawalForm.amount.value, 
            earning: withdrawalForm.earning.value,
            method: withdrawalForm.method.value, 
            address: withdrawalForm.address.value
        }

        try {
            const response = await fetch('/auth/users/withdraw', {
                method: 'POST',
                headers: {'Content-Type':'application/json'},
                body: JSON.stringify(formData)
            })

            if(!response.ok) {
                throw new Error('Failed Please try again')
            }

            const json = await response.json()

            if(json.error) {
                throw new Error(json.error)
            }

            if(json.success) {
                hideSpinner(withdrawalBtn, "Submit");
                notification.success(json.message, toast, toastIcon, toastMessage, closeNotification)
                withdrawalForm.reset()
            }
        } catch (error) {
            hideSpinner(withdrawalBtn, "Submit");
            notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
        }
    }
    withdrawalForm.addEventListener('submit', handleWithdrawal)
</script>


</body>
</html>