 <div class="change_password edit_form_wrapper">
    <p class="form_title">Change password</p>
    <div class="form_header">
        <p>change your password if you feel it has been compromised</p>
        <p class="password_cancel cancel">Cancel</p>
    </div>
    <div class="form_container">
        <form class="password_form">
            <div class="input_group">
                <label for="pwd">old password</label>
                <input id="pwd" type="password" name="password" required>
            </div>

            <div class="input_group">
                <label for="pwd1">new password</label>
                <input id="pwd1" type="password" name="newPassword" required>
            </div>

            <div class="input_group">
                <label for="pwd2">confirm password</label>
                <input id="pwd2" type="password" name="confirmPassword" required>
            </div>
            <p class="message3"></p>
            <button class=" btn password_btn edit_btn">Save</button>
        </form>
    </div>
</div>

<script>
    const passwordForm = document.querySelector('.password_form');
    const passwordMessage = document.querySelector('.message3');
    const passwordFormBtn = document.querySelector('.password_btn');

    const passwordCancel = document.querySelector('.password_cancel');
    const passwordChangeForm =document.querySelector('.change_password')

    // close upload id form 
    const closePasswordChangeForm = (e) => {
        passwordChangeForm.classList.remove('show');
    }
    passwordCancel.addEventListener('click', closePasswordChangeForm);

    const updatePassword = async (e) => {
        e.preventDefault();

        passwordFormBtn.textContent = 'Please wait...';
        passwordMessage.textContent = '';
        passwordMessage.className = 'message1';

        const formData = {
            password: passwordForm.password.value, 
            newPassword: passwordForm.newPassword.value, 
            confirmPassword: passwordForm.confirmPassword.value, 
        }

        try {
            const response = await fetch('/auth/users/update-password', {
                method: 'PUT',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(formData)
            })

            if(!response.ok) {
                throw new Error('something went wrong');
            }

            const json = await response.json();

            if(json.error) {
                throw new Error(json.error);
            }

            if(json.success) {
                passwordFormBtn.textContent = 'Save';
                passwordMessage.textContent = json.message;
                passwordMessage.classList.add('success');
                
                setTimeout(() => {
                    location.reload();
                }, 4000)
            }
            
        } catch (error) {
            passwordFormBtn.textContent = 'Save';
            passwordMessage.textContent = error.message;
            passwordMessage.classList.add('error');
        }

    }
    passwordForm.addEventListener('submit', updatePassword);
</script>