 <div class="upload_document edit_form_wrapper">
    <p class="form_title">Document Verification</p>
    <div class="form_header">
        <p>upload your government ID</p>
        <p class="upload_cancel cancel">Cancel</p>
    </div>
    <div class="form_container">
        <form class="document_form">
            <div class="input_group">
                <label for="idtype">Type of Id</label>
                <select name="idtype" id="idtype" required>
                    <option value="Drivers License">Drivers License</option>
                    <option value="passport">Passport</option>
                    <option value="Identity card">Identity card</option>
                </select>
            </div>

            <div class="input_group">
                <label for="country">Country</label>
                <select name="country" id="country">
                    
                </select>
                <input id="country" type="text" name="country" placeholder="USA" required>
            </div>

            <div class="input_group">
                <label for="id">Upload Id</label>
                <input id="id" type="file" name="file" required>
            </div>
            
            <button class=" btn document_btn edit_btn">Save</button>
        </form>
    </div>
</div>

<script type="module">
    import {notification, showSpinner, hideSpinner, closeNotification} from '/main/js/notification.js';
    toastBtn.addEventListener('click', () => closeNotification(toast));

    const documentUploadForm = document.querySelector('.document_form');
    const documentUploadFormBtn = document.querySelector('.document_btn');

    const uploadCancel = document.querySelector('.upload_cancel');
    const uploadDocument = document.querySelector('.upload_document');



    // fetching countries
        document.addEventListener('DOMContentLoaded', function () {
        const countrySelect = document.getElementById('country');

        // Fetch the country data from the API
        fetch('https://restcountries.com/v3.1/all')
            .then(response => response.json())
            .then(data => {

            data.forEach(country => {
                const option = document.createElement('option');
                option.value = country.name.common;
                option.textContent = country.name.common;


                const flagSpan = document.createElement('span');
                const image = document.createElement('img');

                image.src = `${country.flags.svg}`;
                
                flagSpan.appendChild(image)

                option.prepend(flagSpan);

                countrySelect.appendChild(option);
            });
            })
            .catch(error => console.error('Error fetching data:', error));
        });




    // close upload id form 
    const closeDocumentUpload = (e) => {
        uploadDocument.classList.remove('show');
    }
    uploadCancel.addEventListener('click', closeDocumentUpload);

    const uploadUserDocument = async (e) => {
        e.preventDefault();

        showSpinner()

        try {
            const response = await fetch('/auth/users/document', {
                method: 'POST',
                body: new FormData(documentUploadForm)
            })

            if(!response.ok) {
                throw new Error('something went wrong');
            }

            const json = await response.json();

            if(json.error) {
                throw new Error(json.error);
            }

            if(json.success) {
                hideSpinner(documentUploadFormBtn, "Save");
                notification.success(json.message, toast, toastIcon, toastMessage, closeNotification);

                documentUploadForm.reset()
            }
            
        } catch (error) {
            hideSpinner(documentUploadFormBtn, "Save");
            notification.error(error.message, toast, toastIcon, toastMessage, closeNotification);
        }

    }
    documentUploadForm.addEventListener('submit', uploadUserDocument);
</script>