 <div class="upload_document edit_form_wrapper">
    <p class="form_title">Document Verification</p>
    <div class="form_header">
        <p>upload your government ID</p>
        <p class="upload_cancel cancel">Cancel</p>
    </div>
    <div class="form_container">
        <form class="document_form">
            <div class="input_group">
                <label for="idtype">Type of Id</label>
                <input id="idtype" type="text" name="idtype" placeholder="Drivers license" required>
            </div>

            <div class="input_group">
                <label for="country">Country</label>
                <input id="country" type="text" name="country" placeholder="USA" required>
            </div>

            <div class="input_group">
                <label for="expire">Expiring date</label>
                <input id="expire" type="date" name="date" required>
            </div>

            <div class="input_group">
                <label for="id">Upload Id</label>
                <input id="id" type="file" name="file" required>
            </div>
            
            <p class="message4"></p>
            <button class=" btn document_btn edit_btn">Save</button>
        </form>
    </div>
</div>

<script>
    const documentUploadForm = document.querySelector('.document_form');
    const documentUploadMessage = document.querySelector('.message4');
    const documentUploadFormBtn = document.querySelector('.document_btn');

    const uploadCancel = document.querySelector('.upload_cancel');
    const uploadDocument = document.querySelector('.upload_document')

    // close upload id form 
    const closeDocumentUpload = (e) => {
        uploadDocument.classList.remove('show');
    }
    uploadCancel.addEventListener('click', closeDocumentUpload);

    const uploadUserDocument = async (e) => {
        e.preventDefault();

        documentUploadFormBtn.textContent = 'Please wait...';
        documentUploadMessage.textContent = '';
        documentUploadMessage.className = 'message4';

        try {
            const response = await fetch('/auth/users/document', {
                method: 'POST',
                body: new FormData(documentUploadForm)
            })

            if(!response.ok) {
                throw new Error('something went wrong');
            }

            const json = await response.json();

            if(json.error) {
                throw new Error(json.error);
            }

            if(json.success) {
                documentUploadFormBtn.textContent = 'Save';
                documentUploadMessage.textContent = json.message;
                documentUploadMessage.classList.add('success');

                documentUploadForm.reset()
            }
            
        } catch (error) {
            documentUploadFormBtn.textContent = 'Save';
            documentUploadMessage.textContent = error.message;
            documentUploadMessage.classList.add('error');
        }

    }
    documentUploadForm.addEventListener('submit', uploadUserDocument);
</script>