    
    <div class="property-container" style="margin-top: 20px;">
        <div class="property-tab-buttons" style="margin-bottom: 20px;">
            <button class="property-tab-button active" data-tab="tab1">View Property</button>
            <button class="property-tab-button" data-tab="tab2">Add Checkins</button>
            <button class="property-tab-button" data-tab="tab2">view Checkins</button>
        </div>

        <div class="user-property-wrapper" style="margin: 20px 0;">
            <div class="property-content active">
                <%- include('./user-property') %>
            </div>
    
            <div class="property-content">
                <%- include('./user-property-checkins') %>
            </div>

            <div class="property-content">
                <%- include('./view-user-checkins') %>
            </div>
        
        </div>
    </div>
    


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabButtons = document.querySelectorAll('.property-tab-button');
        const tabContents = document.querySelectorAll('.property-content');

        // Show the initial tab on page load
        showAccountHistoryTap(0);

        tabButtons.forEach((button, index) => {
            button.addEventListener('click', function () {
            showAccountHistoryTap(index);
            });
        });

        function showAccountHistoryTap(index) {
            // Hide all tab contents
            tabContents.forEach(content => {
            content.classList.remove('active');
            });

            // Deactivate all tab buttons
            tabButtons.forEach(button => {
            button.classList.remove('active');
            });

            // Show the selected tab content and activate the button
            tabContents[index].classList.add('active');
            tabButtons[index].classList.add('active');
        }
    });
</script>
    
