<div style="margin-top: 20px;">
   <table id="property" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Ac</th>
            </tr>
        </thead>
        <tbody>
            <% if(propertys) { %>
                <% propertys.map(({pname, plocation, pamount}) => { %>
                    <tr>
                        <td><%= pname %></td>
                        <td><%= plocation %></td>
                        <td><%= pamount %></td>
                        <td>2011-04-25</td>
                        <td>$320,800</td>
                    </tr>
                <%}) %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('./footer')  %>

<script>
    $(document).ready(function () {
        $('#property').DataTable({
            scrollX: true,
        });
    });
</script>